<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="messages">
        <input placeholder="Message" id="messageInput" />
    </div>

    <script>
        const socket = io();

        let messageContainer = document.querySelector(".messages");

        socket.on("connect", () => {
            let p = document.createElement("p")
            p.innerText = "You're connected"
            messageContainer.appendChild(p)
        })

        let messageInput = document.getElementById("messageInput")
        messageInput.addEventListener("keypress", (e) => {
            if (e.which === 13) {
                socket.emit("message", messageInput.value)
                messageInput.value = ""
            }
        })

        socket.on('message', (message) => {
            let messageElement = document.createElement("p")
            messageElement.innerText = message
            messageContainer.appendChild(messageElement)
        })

    </script>
</body>

</html>